* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif !important;
}
a {
	font-size: 16px;
	font-weight: 600 !important;
	/* color: rgb(0, 0, 0) !important; */
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}
body {
	overflow-y: scroll;
	scroll-behavior: smooth;
}
/*Navbar*/

.navbar-light .navbar-toggler {
	color: transparent;
	border: none;
}
.navbar-nav li a:hover {
	color: #4fbdba !important;
}
.navbar-nav li a {
	color: rgb(0, 0, 0) !important;
}
.navbar-brand {
	font-family: "Open Sans", sans-serif;
}
/*penutup*/
/* article layout */
.home {
	padding-top: 15em;
	background-color: #eeeeee;
	padding-bottom: 3em;
}
.article {
	margin-bottom: 5em;
}
.article .container .sidebar-article .list-article .tags ul li a,
.article .container .sidebar-article .list-article .tags ul li {
	text-decoration: none;
	color: #606060;
	margin-bottom: 1em;
	font-size: 16px;
}
.list-article {
	border-left: 1px solid rgba(230, 230, 230, 1);
	height: 100vh;
	padding-left: 1em;
}
.article .container .sidebar-article .list-article .tags ul li a:hover {
	color: #4fbdba;
}
.article .container .sidebar-article .list-article .tags ul li:first-child {
	margin-top: 1em;
}
/* end article layout */
/* Article content */
.list-article .recomended-article {
	margin-top: 20px;
}

.card-body a {
	text-decoration: none;
	list-style: none;
}

.card {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card .col-md-4 .figure {
	margin-left: 60px;
	margin-top: 3.9em;
}
.card-body a .card-title,
.card-body ul li a {
	color: #000000;
}
.card-body .card-text a {
	color: #212529 !important;
	font-weight: normal !important;
}
.card-body .card-body {
	margin-left: -1em;
	margin-bottom: -1.5em;
}
.recomended-article .ms-2 {
	padding-top: 1.75em;
	margin-bottom: -0.75em;
}
.recomended-article .card-body:last-child {
	margin-top: -2.5em;
}
.recomended-article .card-body:nth-child(3) {
	margin-top: -2.5em;
}
.page-link {
	color: grey !important;
}
/* clients */
.clients {
	background-color: rgb(30 41 59) /*#f1f5f9*/;
	padding-bottom: 2em;
	margin-top: 2em;
}
.icon-client img {
	opacity: 0.3;
}
.icon-client img:hover {
	opacity: 3;
	transition: all 0.3s 0.1s ease-in-out;
}
.icon-client {
	padding: 2rem;
}
.col-md-4 {
	margin-bottom: 2em;
}

/*akhir clients*/
/* footer */
.list-unstyled img {
	height: 26.4px;
}
.footer-08 .ftco-footer-social li a {
	color: #fff !important;
}
.ftco-footer-social li a:hover {
	color: #4fbdba !important;
}
.footer-08 a {
	text-decoration: none;
}

a {
	-webkit-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
a:hover,
a:focus {
	text-decoration: none !important;
	outline: none !important;
}

.img,
.blog-img,
.user-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.ftco-footer-social li {
	list-style: none;
	margin: 0 10px 0 0;
	display: inline-block;
}
.ftco-footer-social li a {
	height: 40px;
	width: 40px;
	display: block;
	border: 1px solid #dff6ff !important;
	border-radius: 50%;
	position: relative;
}
.ftco-footer-social li a span {
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
	color: #fff;
	background-color: #fff;
}

footer {
	padding: 7em 0;
}

.footer-08 {
	margin-top: 5em;

	padding: 0;
	overflow: hidden;
	background: #0f172a;
	padding-top: 2em;
}
.footer-08 .footer-heading {
	font-size: 20px;
	color: #e9f1f5;
	width: max-content;
}

.footer-08 ul.list-unstyled li a {
	color: #cbd5e1 !important;
}
.footer-08 .list-unstyled li a:hover {
	color: #4fbdba !important;
}
@media only screen and (min-width: 1024px) {
	.footer-08 ul.list-unstyled li a {
		width: max-content;
	}
	#footer-address {
		padding-left: 7em;
	}
}

@media only screen and (min-width: 1024px) {
	.address {
		width: min-content;
	}
}
@media only screen and (min-width: 1280px) {
	.address {
		width: 12em;
	}
}
/* end footer */
/*Media Queris*/
@media only screen and (min-width: 992px) and (max-width: 1100px) {
	.navbar-nav .nav-item {
		padding-right: 0em !important;
	}
}
@media only screen and (max-width: 992px) {
	.list-article .recomended-article {
		display: none;
	}
	.clients {
		margin-top: -10em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 993px) {
	.navbar-brand {
		margin-left: -15em;
	}
	.list-article .ms-4 {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
}
@media only screen and (min-width: 320px) and (max-width: 992px) {
	.navbar-toggler {
		padding: 0.5rem 0.5rem;
		font-size: 0.8rem;
	}
}
@media only screen and (min-width: 575px) and (max-width: 767px) {
	.navbar-brand {
		margin-left: -6em;
	}
}
@media only screen and (min-width: 375px) and (max-width: 478px) {
	.card-body a .card-title {
		width: 17em;
	}
}
@media only screen and (max-width: 992px) {
	.navbar .container .collapse .navbar-nav {
		backdrop-filter: blur(3px);
	}
	.list-article {
		border-left: 0px solid rgba(230, 230, 230, 1);
	}
	.list-article .tags ul {
		padding: 0;
	}
	.list-article .ms-4 {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
}
@media only screen and (max-width: 768px) {
	.card-body .card-body {
		width: max-content;
	}
}
@media only screen and (max-width: 728px) {
	.card-body a .card-title {
		font-size: 16px;
	}
	.card .col-4 .figure img {
		width: 56px;
		height: 56px;
	}
	.card-body .none {
		display: none !important;
	}
	.card-body a {
		font-size: 14px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
	.page-link {
		font-size: 14px;
	}
}
@media only screen and (max-width: 425px) {
	.navbar .container .navbar-brand {
		font-size: 15px !important;
	}
	.card .img-article {
		width: 377.33px;
		height: 194.89px;
	}
}
@media only screen and (max-width: 375px) {
	.navbar-brand {
		margin-left: -0.75em;
	}
	.card-body a .card-title {
		width: 16.9em;
	}
	.card .col-md-4 .figure {
		margin-left: 2.5em;
		margin-top: 4.2em;
	}
	.card .img-article {
		width: 327.33px;
		height: 168.06px;
	}
}
@media only screen and (min-width: 342px) and (max-width: 375px) {
	.page-link {
		font-size: 12px;
	}
}
@media only screen and (max-width: 342px) {
	.page-link {
		font-size: 10px;
	}
}
@media only screen and (max-width: 326px) {
	.card-body .card-body .p-none {
		display: none;
	}
	.navbar .container .navbar-brand {
		font-size: 14px !important;
	}
}
@media only screen and (max-width: 320px) {
	.navbar-toggler {
		padding: 0.5rem 0.5rem;
		font-size: 0.6rem;
	}
}

/* end */
